:root {
    --primaryTextColor: #232e35;
    --SecondaryTextColor: #656d72;

    --borderColor: #f1f1f1;
    --lineColor: #d9d9d9;

    --primaryBackgorundColor: #fff;
    --secondaryBackgroundColor: #fbfbfb;
    --thirdBackgroundColor: #f5f3fe;

    --primaryIconColor: #9a7e6f;
    --primaryIconColorHover: #493628;

    --sectionPadding: 6rem 5rem 0rem 5rem;
    --itemBorderRadius: 0.7rem;
}

/* home */
/* banner section */
.hero-banner {
    background-image: url("/img/home_banner.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}
.hero-content {
    max-width: 800px;
    text-align: center;
}

.hero-content h1 {
    text-shadow: 100px black;
}

/* each banner page */
.banner {
    position: relative;
    background-size: cover;
    background-position: center;
    height: 400px;
}
.banner .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    padding: 20px;
}
.section-title {
    margin-top: 40px;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
}

/* about section */
.carousel-item img {
    height: 500px; /* Sesuaikan tinggi sesuai kebutuhan */
    object-fit: cover; /* Untuk memastikan gambar terisi dengan proporsi yang baik */
}

.carousel-inner {
    max-height: 300px; /* Sesuaikan dengan tinggi gambar */
}

.carousel {
    width: 100%; /* Pastikan memenuhi lebar container */
}

.carousel-item img {
    height: 500px; /* Tinggi tetap */
    width: 100%; /* Lebar penuh */
    object-fit: cover; /* Menjaga proporsi */
}

@media (max-width: 768px) {
    .carousel-item img {
        height: 300px; /* Sesuaikan tinggi pada perangkat kecil */
    }
}

/* highlight section */
#highlight {
    padding-top: 5rem;
}

/* contact section */
#contact {
    padding: var(--sectionPadding);
}

.contact {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 3rem;
}

.contact-form div {
    margin-bottom: 1.4rem;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 0.75rem 1.3rem;
    font-family: "Roboto", sans-serif;
    background: var(--secondaryBackgroundColor);
    border: 1px solid var(--borderColor);
    border-radius: 3px;
    resize: none;
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
    color: #9d9fa1;
}

.contact-form input:focus,
.contact-form textarea:focus {
    outline: none;
    border: 1px solid #7d7d7d;
}

.btn-submit {
    width: 100%;
    padding: 0.75rem 1.3rem;
    background-color: var(--primaryIconColor);
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.btn-submit:hover {
    background: var(--primaryIconColorHover);
}

.contact-item {
    display: flex;
    gap: 1.5rem;
    margin-bottom: 2.5rem;
}

.contact-item-icon {
    background: var(--thirdBackgroundColor);
    width: 53px;
    height: 53px;
    border-radius: 9px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-item-icon svg {
    fill: var(--primaryIconColor);
}

.contact-item-detail h4 {
    margin-bottom: 0.6rem;
}

@media screen and (max-width: 640px) {
    #contact {
        padding: 2rem 1rem 0rem 0.5rem; /* Sesuaikan padding untuk layar kecil */
    }

    .contact-form input,
    .contact-form textarea {
        width: 100%; /* Pastikan elemen ini tetap fleksibel */
    }

    .contact-form {
        gap: 1rem; /* Atur jarak antar elemen */
    }
}

/* footer */
footer {
    margin-top: 5rem;
    padding: 5rem 0rem 5rem 0rem;
}

footer h5 {
    font-size: 1.2rem;
}

footer p {
    font-size: 0.9rem;
    color: #555;
}

footer a:hover {
    text-decoration: underline;
}
